body {
  background: #000028;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}

p {
  text-indent: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 100px;
}

button {
  padding: 15px 30px;
  background: #000080;
  border: none;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

button:hover {
  background: #0000c0;
  cursor: pointer;
}

.section {
  display: none;
}
